body {
    background-color: white;
    margin: 0%;
}

.nameRectangle {
    display: block;
    width: 100%;
    height: 100px;
    border: 1px solid #fd4345;
    background-color: #fd4345;
    text-align: center;
    color: white;
    margin-bottom: 0px;
}

.des,
.birth {
    text-align: justify;
    color: rgb(207, 206, 206);
    display: inline;
    padding: 50px;
    text-decoration: none;
    margin: 0px;
}

.des a {
    text-decoration: none;
    color: rgb(207, 206, 206);
}

.efrei,
.nanterre,
.evry {
    text-decoration: none;
    color: white;
}

.leftRectangle {
    float: left;
    background-color: #263547;
    width: 250px;
    height: 2500px;
    border: 1px solid #263547;
    margin: 0;
}

.rightRectangle {
    display: inline;
    margin-left: 250px;
    width: 50%;
    background-color: white;
    border: solid white;
}

.coord,
.formation,
.compets,
.competsInfo,
.xp,
.projets {
    color: #fd4345;
    font-weight: bolder;
    margin-left: 15px;
}

.desCoord {
    color: white;
    font-weight: bold;
}

.adresse,
.linkdin,
.mail,
.telephone {
    width: 15px;
    height: 15px;
    margin: 3px;
    background-color: #ffffff;
    opacity: 0.4;
}

.L2,
.prepa,
.L1 {
    color: white;
    margin-bottom: 0px;
    font-size: smaller;
}

.desP,
.desL1,
.desL2,
.competsInfo p {
    padding-left: 15px;
    margin-top: 0px;
    color: gray;
}

.competsInfo p {
    margin-top: 5px;
}

.desCompets {
    color: white;
}

.opé,
.livreur,
.valet {
    margin-top: 10px;
    margin-left: 15px;
    color: #263547;
    font-weight: bolder;
    font-size: larger;
}

.lieuOpé,
.lieuLivraison,
.lieuValet {
    color: gray;
    font-size: smaller;
    margin-top: 0px;
    margin-left: 10px;
    margin-bottom: 0px;
}

.lieuOpé a,
.lieuLivraison a,
.lieuValet a {
    color: gray;
    font-size: smaller;
    margin-top: 0px;
    margin-left: 10px;
    margin-bottom: 0px;
}

.desOpé,
.desLivraison,
.desValet {
    color: gray;
    margin-left: 25px;
    font-size: small;
}

.intituléPo {
    margin-top: 10px;
    margin-left: 15px;
    color: #263547;
    font-weight: bolder;
    font-size: medium;
    margin-bottom: 0px;
}

.desPo {
    margin-top: 0px;
    color: gray;
    margin-left: 25px;
    font-size: smaller;
}